#imgcir{
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

#centro{
    background-color: transparent;
    padding: 0 1rem;
    margin: 1rem;
}
.botonModi .file{
	opacity: 0;
	width: 0px;
	height: 0px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: transparent;
    position: relative;
}

#top{
    margin-top: 140px;
}

#ubi{
    margin-top: -50px;
}

#fondox{
	background-color: #a8a8a8;
	background: @include filter-gradient
	(#a8a8a8, #6b6a6b, horizontal);
	background: @include background-image
	(linear-gradient(left, #a8a8a8 0%, #858585 40%, #6b6a6b 100%));
}

#vol{
float: left;	
}

#sal{
float: right;
}

#nuevo{
	float: left;
	margin-top: 50px;	
	margin-left: 5px;
}

#bot{
	margin-top: 10px;
}

#padre{
	background-color: transparent;
  	padding: 0 1rem;
  	margin: 1rem;
}

h1{
	margin-top: 20px;
	color: white;
}

label{
	margin-top: 20px;
	color: white;
	font-weight: bold;
}

p{
	margin-top: 20px;
	color: white;
	font-weight: bold;
}

input{
	margin-top: 30px;
	text-align: center;
}

#nombreu{
	margin-top: 20px;
	color: yellow;
	font-weight: normal;

}

#insertar{
	margin-top: 8%;
	width: 300px;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
    padding: 20px;
    background: transparent;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid green;
}

#foto input{
	width: 60%;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}

#modificar{
	margin-top: 30px;
	width: 300px;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
    padding: 20px;
    background: transparent;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid green; 
}

#quitar{
	color:transparent;
	width: 150px;
	height: 30px;
}

@media screen and (max-width:1200px){

	table{
		width: 80%;
	}

	#modificar{
	margin-top: 30px;
	width: 300px;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
    padding: 20px;
    background: transparent;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid green; 
}

	h1{
	margin-top: 10px;
	color: black;
}

	label{
		margin-top: 10px;
		color: black;
}

	input{
		margin-top: 10px;
		text-align: center;
}

	#insertar{
    background: white;
    margin-top: 80px;
    border-radius: 20px 20px 20px 20px;
    border: 1px solid green;
    max-width: 80%;
} 

	#foto input{
	width: 67%;
	margin-left: auto;
  	margin-right: auto;
	text-align: center;
}

	
}